<h2 class="mb-4">
    User Dashboard
</h2>

<div class="card shadow">

    <div class="card-body text-center">

        <h4>
            Xem danh sách cần máu
        </h4>

        <a asp-controller="BloodRequest"
           asp-action="Index"
           class="btn btn-danger">

            Xem ngay

        </a>

    </div>

</div>