@model benhvien.Models.User

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card shadow">

            <div class="card-header bg-danger text-white">

                <h3 class="text-center">
                    Đăng ký tài khoản
                </h3>


            </div>

            <div class="card-body">
                <h4 class="text-danger">
                    @ViewBag.Error
                </h4>
                <form method="post">

                    <div class="mb-3">

                        <label>Họ tên</label>

                        <input asp-for="FullName"
                               class="form-control" />

                    </div>

                    <div class="mb-3">

                        <label>Email</label>

                        <input asp-for="Email"
                               class="form-control" />

                    </div>

                    <div class="mb-3">

                        <label>Số điện thoại</label>

                        <input asp-for="Phone"
                               class="form-control" />

                    </div>

                    <div class="mb-3">

                        <label>Password</label>

                        <input asp-for="Password"
                               type="password"
                               class="form-control" />

                    </div>

                    <div class="mb-3">

                        <label>Nhóm máu</label>

                        <select asp-for="BloodType"
                                class="form-control">

                            <option>O+</option>
                            <option>O-</option>
                            <option>A+</option>
                            <option>A-</option>
                            <option>B+</option>
                            <option>B-</option>
                            <option>AB+</option>
                            <option>AB-</option>

                        </select>

                    </div>

                    <div class="mb-3">

                        <label>Tuổi</label>

                        <input asp-for="Age"
                               class="form-control" />

                    </div>

                    <div class="mb-3">

                        <label>Địa chỉ</label>

                        <input asp-for="Address"
                               class="form-control" />

                    </div>

                    <div class="mb-3">

                        <label>Loại tài khoản</label>

                        <select asp-for="Role"
                                class="form-control">

                            <option value="User">
                                Cá nhân
                            </option>




                        </select>

                    </div>

                    <button type="submit"
                            class="btn btn-danger w-100">

                        Đăng ký

                    </button>

                </form>

            </div>

        </div>

    </div>

</div>