@model benhvien.Models.BloodRequest

@{
    ViewData["Title"] = "Sửa yêu cầu";
}

<div class="container mt-4">

    <h2>Sửa yêu cầu máu</h2>

    <form asp-action="Edit" method="post">

        <input asp-for="Id" type="hidden" />

        <div class="mb-3">

            <label>Nhóm máu</label>

            <select asp-for="BloodType"
                    class="form-select">

                <option>A+</option>
                <option>A-</option>
                <option>B+</option>
                <option>B-</option>
                <option>AB+</option>
                <option>AB-</option>
                <option>O+</option>
                <option>O-</option>

            </select>

        </div>

        <div class="mb-3">

            <label>Số lượng</label>

            <input asp-for="QuantityNeeded"
                   class="form-control" />

        </div>

        <div class="mb-3">

            <label>Mô tả</label>

            <textarea asp-for="Description"
                      rows="5"
                      class="form-control"></textarea>

        </div>

        <div class="form-check mb-3">

            <input asp-for="IsUrgent"
                   class="form-check-input" />

            <label class="form-check-label">
                Khẩn cấp
            </label>

        </div>

        <button class="btn btn-primary">
            Lưu thay đổi
        </button>

    </form>

</div>